<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <!-- <div class="error">
      {{error}}
    </div> -->
  <form action="#" v-on:submit.prevent="register">
    <h2>Регистрация</h2>

<label for="email"> Email</label>
<input v-model="email" type="email" name="email" id="email" placeholder="Введите вашу почту">

<label for="password"> Пароль</label>
<input v-model="password" type="password" name="password" id="password" placeholder="Введите пароль">

<input type="submit" value="Зарегестрироваться">
<p><a href="login.html">Уже есть аккаунт? Войти</a></p>
<!-- <div class="alert">Упс! Неправильный логин или пароль. 
  Попробуйте снова!</div> -->
<div class="alert" v-if="error">{{error}}</div>
  </form>
</div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="script.js"></script>
</body>
</html>